<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soul Knight</title>
    <link rel="stylesheet" href="/static/soul_knight.css">
    </head>
<body>
    <h1>Soul Knight</h1>
    <div class="Blog">
        <div class="card">
            <h2><a href = 'https://soul-knight.fandom.com/wiki/Soul_Knight_Wiki'> Soul Knight - о игре</a></h2>
            <p> Soul Knight — это аркадная игра в жанре рогалик, которая сочетает элементы экшена и шутера. </p>
        </div>
    </div>
    <br>
    <img src="https://i.ytimg.com/vi/wRZn39YOZ_Y/maxresdefault.jpg"  width="300">

</body>
</html>