<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terraria</title>
    <link rel="stylesheet" href="/static/terraria.css">
    </head>
<body>
    <h1>Terraria</h1>
    <div class="Blog">
        <div class="card">
            <h2><a href = 'https://terraria.wiki.gg/ru/'>Terraria-WiKi</a></h2>
            <p> Terraria - это 2D-песочница, в которой игроки могут исследовать, строить и сражаться с множеством различных врагов. </p>
        </div>
    </div>
    <br>
    <img src="https://www.meme-arsenal.com/memes/85db7bc1acdc2fa7337c5adcf946e329.jpg"  width="300">

</body>
</html>